#
#Git Config file 
#Author: Connor aitken
#Github: kanr
#
#
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Connor
	email = connor.aitken@gmail.com
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
    required = true
[Alias]
    branches = branch -a
    unstage = reset -q HEAD --
    ammend = commit --ammend
    discard = checkout --
    uncommit = reset --mixed HEAD~
    sync = pull origin master --allow-unrelated-histories
#Nuclear option: unstages changes in the indeax, discards changes in the working directory and removes any  new files
    nevermind = !git reset --hard HEAD && git clean -d -f

